body {
    marign : 0;
    padding: 0;
}
.login {
    margin: 0 ;
    padding: 0;
    width: 1349px;
    height: 641px;
    background: url("../image/火影4.jpg") no-repeat;
    background-size: 1349px 641px;
    position: relative;
}
.login-box {
    width: 700px;
    height: 300px;
    position: absolute;
    left: 340px;
    top: 134px;
}
.user-login {
    font-size: 25px;
    color: blue;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin:  30px auto;
}
.userName-login {
    height: 30px;
    width:228px;
    margin: 35px auto;
    padding: 0;
    border: 0;
}
.login-userName-input {
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid #cccccc;

}
.login-button {
    height: 36px;
    width:200px;
    margin: 30px auto;
    position: relative;
}
.login-button-input {
    height: 36px;
    width: 89px;
    position: absolute;
    left: 0;
}
.login-button-input2 {
    height: 36px;
    width: 89px;
    position: absolute;
    right: 0;
}
.login-button-input:hover,.login-button-input2:hover{
    background-color: rgba(0,0,0,0);
}