<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登入页面</title>
    <link rel="stylesheet" href="../static/css/login.css" type="text/css">
</head>
<body   marginwidth="0" marginheight="0">
    <div class="login">
        <div class="login-box">
            <div class="user-login">密码登入</div>
            <!--//用户-->
            <div class="userName-login">
               <input type="text" class="login-userName-input" name="userName" id="userName" placeholder="请输入用户名">
            </div>
            <!--//m密码-->
            <div class="userName-login">
               <input type="password" class="login-userName-input" name="password" placeholder="请输入密码">
            </div>
           <!-- //登入,注册按钮-->
            <div class="login-button">
                <input type="button" value="登入" class="login-button-input" id="userLogin" name="login">
                <input type="button" value="注册" class="login-button-input2" name="register">
            </div>
        </div>
    </div>
</body>
</html>