<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link href="../css/register.css" rel="stylesheet" type="text/css">
</head>
<body  marginwidth="0" marginheight="0">
    <div class="register-1">
        <!--//注册页面-->
        <div class="register">
            <div class="register-welcome">欢迎注册</div>

            <div class="register-user">
                <form action="login.html">
                    <table>
                        <tr class="login-tr">
                            <td class="login-td">用户名</td>
                            <td class=".login-td2">
                                <input type="text" name="userName" id="userName" />
                            </td>
                        </tr>
                        <tr class="login-tr">
                            <td class="login-td">密码</td>
                            <td class=".login-td2">
                                <input type="text" name="password" id="password"  />
                            </td>
                        </tr>
                        <tr class="login-tr">
                            <td class="login-td">密码确认</td>
                            <td class=".login-td2">
                                <input type="text" name="rePassword" id="rePassword" />
                            </td>
                        </tr>
                        <tr class="login-tr">
                            <td class="login-td">电话</td>
                            <td class=".login-td2">
                                <input type="text" name="telPhone" id="telPhone"  />
                            </td>
                        </tr>
                        <tr class="login-tr">
                            <td class="login-td">性别</td>
                            <td>
                                男<input type="radio" name="sex" id="sex" value="1" />
                                女<input type="radio" name="sex" id="sex2" value="0" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="register-get">
                                <input type="submit" id="" value="注册" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>

</body>
</html>